* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.product {
  background-color: white;
  color: dimgray;
}

.category {
  background-color: white;
  color: dimgray;
}

/* HEADER STYLING ALL */

.topNav {
  background-color: rgb(226, 215, 215);
  padding: 5vw;
  display: flex;
  justify-content: space-between;
}

.topNav h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 4rem;
  color: black;
}

.topNav nav {
  padding-top: 5vh;
}

.topNav ul {
  display: flex;
  align-items: flex-end;
}

.topNav li {
  list-style: none;
}

.topNav a {
  text-decoration: none;
  padding: 2vw;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;
}

.topNav a:hover {
  background-color: black;
  color: whitesmoke;
}

@media (max-width: 1000px) {
  .topNav {
    display: block;
  }

  .topNav h1 {
    padding-left: 1.8vw;
  }
}

/* Category styling */

.categoryMain {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 8vw;
}

.categoryMain h1 {
  color: black;
  font-size: 2.5rem;
}

.letterLinks ol {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.letterLinks a {
  text-transform: uppercase;
}

.letterLinks a {
  color: inherit;
  text-decoration: none;
}

.letterLinks a:hover {
  background-color: black;
  color: white;
}

/* BRAND LIST STYLING */

.brandList {
  margin-top: 5rem;
}

.brandList h2 {
  font-size: 2.2rem;
  color: black;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.brandList .letterGroup {
  margin-bottom: 2.5rem;
}

.brandList ol {
  list-style-type: none;
}

.brandList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid gainsboro;
}

.brandList li:hover {
  background-color: gainsboro;
  color: white;
}

@media (min-width: 800px) {
  .brandList ol {
    column-count: 2;
  }
}

.brandList a {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}

/* BREADCRUMBS STYLING */

.breadcrumbs {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  padding-left: 3vw;
  padding-top: 3vh;
}

.breadcrumbs li {
  list-style-position: inside;
  padding: 4vw;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.breadcrumbs ol {
  list-style: decimal outside;
}

.breadcrumbs a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: black;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-underline-offset: 3px;
}

@media (min-width: 1000px) {
  .breadcrumbs {
    padding-left: 3vw;
  }

  .breadcrumbs li {
    padding: 2vw;
  }
}

/* PRODUCT LIST STYLING */

.scratch {
  text-decoration-line: line-through;
}

.listMain {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-left: 1rem;
}

.listMain h2 {
  padding: 4vw;
  font-size: 2.3rem;
}

.listMain img {
  max-width: 100%;
}

.productlist article .discounted,
.productlist article .price span {
  display: none;
}

.listProduct h3 {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.listProduct p {
  margin-bottom: 0.3rem;
}

.subtle {
  opacity: 0.5;
}

.listProduct a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: dimgray;
}

.listProduct a:hover {
  color: gainsboro;
}

.productlist article.onSale .discounted {
  display: flex;
  justify-content: space-between;
  color: red;
}

.productlist article.onSale .price span {
  display: initial;
}

.productlist article.onSale .discounted p:last-child {
  padding: 0.3rem;
  color: white;
  font-weight: bold;
  background-color: red;
}

.productlist article.soldOut::before {
  content: "SOLD OUT";
  text-align: center;
  color: dimgray;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  background-color: gainsboro;
  width: 269px;
  height: 368px;
  padding: 1rem;
  opacity: 0.7;
}

/* PRODUCT LIST GRID */

.listGrid {
  margin-left: 4vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
  gap: 2rem;
}

/* PRODUCT GRID */

.product main {
  display: grid;
  grid-column: 1/-1;
  gap: 0.5rem;
}

@media (min-width: 1100px) {
  .product main {
    grid-template-columns: 1fr 2fr;
  }

  .purchaseBox {
    order: 0;
    min-width: 100%;
  }

  .productInfo {
    order: 2;
  }

  .productimage {
    grid-column: 1/-1;
  }

  .breadcrumbs {
    grid-column: 1/-1;
  }

  footer {
    margin-top: 8rem;
    margin: 0;
  }
}

/* PRODUCT STYLING */

.productimage {
  max-width: 100%;
  height: auto;
  padding: 4vw;
  padding-bottom: 0;
}

.purchaseBox {
  background-color: rgb(241, 233, 233);
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 4vw;
  margin: 4vw;
  margin-bottom: 0;
}

.purchaseBox h3 {
  font-size: 2rem;
  line-height: 1.3;
}

.purchaseBox .smallinfo {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  font-size: 1rem;
}

.purchaseBox form label {
  font-weight: bold;
  font-size: 1.3rem;
}

button {
  background-color: white;
  border: white;
  padding: 20px;
  width: 25rem;
  margin-top: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: whitesmoke;
}

.productInfo {
  margin: 4vw;
  padding: 4vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;
}

.product select {
  min-width: 100px;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: black;
  border: 2px solid white;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
}

.product option {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;
}
.productInfo h1 {
  font-size: 2rem;
}

.productInfo h2 {
  font-size: 1.8rem;
}

.product dl {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.product dt {
  font-size: 1.2rem;
  font-weight: bold;
}

.product dd {
  font-size: 1rem;
  margin-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}

.productInfo p {
  margin-top: 1rem;
}

/* FOOTER STYLING */

footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  margin: 2rem;
}

.credits {
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 2px;
}

.creditlink {
  color: inherit;
  padding: 10px;
}
